<div class="container mt-5">
			<p>先輩が書いた記事を検索してみよう</p>
	<div class="row text-right mb-3">
			<%= search_form_for @q do |f| %>
			<div class="col-xs-12 col-md-3"><%= f.search_field :author_cont, placeholder: "著者" %></div>
			<div class="col-xs-12 col-md-3"><%= f.search_field :source_cont, placeholder: "出典" %></div>
			<div class="col-xs-12 col-md-3"><%= f.search_field :book_cont, placeholder: "問題集" %></div>
			<div class=""><%= f.submit '検索', class:"btn btn-default btn-small" %></div>
			<% end %>
	</div>

	<%= render 'blogs/index', blogs: @blogs %>

</div>