<div class="container mt-5">
	<div class="row text-center">
		
		<ul class="col-xs-6 list-inline">
			<%= search_form_for @q do |f| %>
			<li class="list-inline-item"><%= f.label :author_cont, "著者" %></li>
			<li class="list-inline-item"><%= f.search_field :author_cont %></li>
			<li class="list-inline-item"><%= f.submit %></li>
		</ul>
		<ul class="col-xs-6 list-inline">
			<li class="list-inline-item"><%= f.label :book_cont, "出典" %></li>
			<li class="list-inline-item"><%= f.search_field :book_cont %></li>
			<li class="list-inline-item"><%= f.submit %></li><% end %>
		</ul>
		
	</div>


	
	<%= render 'blogs/index', blogs: @blogs %>

</div>