  <div class="bg-image">
  <div class="container">
    <h1 class="mb-5">対話を楽しもう。</h1>
    <div class="box-size">
          <div class="left-box col-12 col-md-4 col-lg-3 mb-3">
            <div class="form-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                <div class="form-group has-icon">
                    <label class="control-label sr-only" for="inputEmail">Name</label>
                    <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"名前"%>
                </div>
                <div class="form-group has-icon">
                    <label class="control-label sr-only" for="inputEmail">Email</label>
                    <%= f.email_field :email, class:"form-control", id:"inputEmail", placeholder:"メールアドレス"%>
                </div>
                <div class="form-group has-icon">
                    <label class="control-label sr-only" for="inputEmail">Password</label>
                    <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
                </div>
                <div class="form-group has-icon">
                    <label class="control-label sr-only" for="inputEmail">Password</label>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
                </div>
                    <%= f.submit "新規登録", class:"btn btn-success btn-block btn-base-1 mt-20" %>
                <% end %>
            </div>
          </div>

          <div class="right-box col-12 col-md-7 col-lg-8">
            <h5>教養をつける。</h5>
            <h5>   自分の意見を考える。</h5>
            <h5>誰かに承認をもらう。</h5>
            <h5>  国語の勉強って楽しいんです。</h5>
            <h5>LogSupportは先生要らずの無料小論文SNSサイトです。</h5>
            </br>
            <%= link_to how_to_index_path, class: "text-white" do %>
            <div class="btn btn-primary btn-position">使い方はこちら</div>
            <% end %>
          </div>
      </div>
    </div>
    </div>
  </div>

    