


<div class="container">
	<h2 class="page-header">友達を招待する</h2>
            <%= search_form_for @q, url: group_group_users_path do |f| %>
            <div class="flex mb-2">
                <%= f.text_field :name_cont, placeholder: "ユーザーの名前" %>
                <%= f.submit '検索' %>
            </div>
            <% end %>
        <% if @id === 1 %>
            <div></div>
        <% else %>
            <% @users.each do |user| %>
                <div class="media border-bottom mb-2">
                    <div class="media-left media-object mr-1 text-center">
                        <%= attachment_image_tag user, :image, format: 'jpeg', class: "block",fallback: "no_image.jpg", size: '40x40' %>
                    </div>
                    <div class="media-body media-obfect">
                        <h4 class="media-heading text-dark"><%= user.name %></h4>
                        <% if user.groups.ids.include?(@group.id) %>
                            友達
                        <% else %>
                        <%= link_to group_group_users_path(user_id: user.id, group_id: @group), method: :post do %>
                            友達になる<% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>

</div>
