<div class="container mt-4">
					<h1 class="header-size">プロフィールを編集する</h1>
				     <%= form_for(@user) do |f| %>

				   	 <p >名前</p>
				     <%= f.text_field :name %>

			 	   	 <p>イメージ画像</p>
				     <%= f.attachment_field :image %>

				 	 	 <p>紹介</p>
				     <%= f.text_area :descreption, :size=>"10x5" %>
				     <p>身分</p>
				     <%= f.select :tag, [["小学生", "小学生"],["中学生", "中学生"],["高校生", "高校生"],["先生", "先生"],["その他", "その他"]] %>
				     <div></div>
				     <div class="btn inline">
				     	<%= f.submit '編集',class:"btn btn-primary btn-block" %>
				     </div>
				   <% end %>
</div>