<div class="container mt-5">


	<div class="media comment border-bottom mb-4">

		<div class="media-left media-object mr-2 text-center">
			<%= attachment_image_tag @user, :image, :fill, 100,100, format: 'jpeg', class: "block mb-1 icon-size", fallback: "no_image.jpg"  %>
			<%= @user.tag %>
		</div>


		<div class="media-body media-bottom">
			<h3 class="media-bottom user-name">
				<%= @user.name %></h3>
			<%= @user.descreption %></br></br>
			<% if @user == current_user %>
			<div class="container mb-2">
			  	<div class="row">
			    	<div class="col-3 btn btn-default">
				      <%= link_to new_blog_path(current_user), class: 'text-dark' do %>
				      <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i><% end %>
				    </div>
				    <div class="col-3 btn btn-default">
				      <%= link_to edit_user_path(current_user), class: 'text-dark' do %>
				      <i class="glyphicon glyphicon-cog" aria-hidden="true"></i><% end %>
				    </div>
				    <div class="col-3 btn btn-default">
				      <%= link_to user_favorites_path(@user), class: 'text-dark' do %>
				      <i class="glyphicon glyphicon-heart" aria-hidden="true"></i><% end %>
				    </div>
				    <div class="col-3 btn btn-default">
				    	<%= link_to '退会', user_path(@user) , class: 'text-dark', method: :delete,"data-confirm" => "本当に退会しますか" %>
				    </div>
			    </div>
			</div>
			<% end %>

		</div>
	</div>

		<%= render 'blogs/index', blogs: @blogs %>
</div>
