<div class="container mt-5">


	<div class="media comment border-bottom mb-4">

		<div class="media-left media-object mr-2 text-center">
			<%= attachment_image_tag @user, :image, :fill, 100,100, format: 'jpeg', class: "block mb-1 icon-size", fallback: "no_image.jpg"  %>
			<%= @user.tag %>
		</div>


		<div class="media-body media-bottom container-fluid">
			<h3 class="media-bottom user-name">
				<%= @user.name %>  /id:<%= @user.id %></h3>
			<%= @user.descreption %></br></br>
			<% if @user == current_user %>
			<div class="mb-2">
			  	<div class="row">
		  			<%= link_to new_blog_path(current_user), class: 'btn btn-default text-dark col-md-3' do %>
			      		<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
				    <% end %>
				    <%= link_to edit_user_path(current_user), class: 'btn btn-default text-dark col-md-3' do %>
				      	<i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
				    <% end %>
				    <%= link_to user_favorites_path(@user), class: 'btn btn-default text-dark col-md-3' do %>
					    <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
			        <% end %>
				    	<%= link_to '退会', user_path(@user) , class: 'text-dark btn bvtn-default col-md-3', method: :delete,"data-confirm" => "本当に退会しますか" %>
			    </div>
			</div>
			<% end %>

		</div>
	</div>

		<%= render 'blogs/index', blogs: @blogs %>
</div>
