

<div class="container page-header mt-5">
	<h2>LogSupport 使い方</h2>
	<p>小論文のSNS、といってもどうやって使えばいいかピンとこないと思います。そんな人のためにストーリーを作ってみました。</p>
</div>

<div class="container">
	<div class="header">
		<h4>第1話　小論文とは？</h4>
	</div>
	<div class="line-bc col-lg-8">
		<div class="narraion text-center">
			<p>--- 20xx年、夏。高校受験を控えた中学３年生のわんこは某塾で悩んでいた。 ---</p>
		</div></br>

		<div class="balloon6">
    		<div class="faceicon">
	 			<%= image_tag("wanko.jpg") %>
    		</div>
    		<div class="chatting">
      			<div class="says">
        		<p>うーん。受験どうしよー。</p>
  				</div>
    		</div>
  		</div>

		<div class="mycomment">
    		<p>おはようわんこ。どうしたの？</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon">
	 			<%= image_tag("wanko.jpg") %>
    		</div>
    		<div class="chatting">
      			<div class="says">
        		<p>あ、にゃんこセンセー。これ見てよ。</p>
  				</div>
    		</div>
  		</div>

		<div class="mycomment">
    		<p>これはA高校の入試過去問だね。どれどれ</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>問題「次の文章を踏まえて○○についてあなたの意見を６００字以内で述べよ。」</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>小論文形式の入試だね。</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon">
	 			<%= image_tag("wanko.jpg") %>
    		</div>
    		<div class="chatting">
      			<div class="says">
        		<p>そうなんだ。小論文なんて何書けば正解かわからないし、僕作文なんて１００字も書けないよー。</p>
  				</div>
    		</div>
  		</div>

		<div class="mycomment">
    		<p>大丈夫大丈夫。わんこの読解力があれば半年もあれば十分かけるようになるよ！</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon">
	 			<%= image_tag("wanko.jpg") %>
    		</div>
    		<div class="chatting">
      			<div class="says">
        		<p>え？ほんと？</p>
  				</div>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>うん。このタイプの小論文だったら型があるから。</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>中学３年生の読解力と思考力があれば誰でも書けるよ。</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>そうと決まったら早速特訓だ！</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon">
	 			<%= image_tag("wanko.jpg") %>
    		</div>
    		<div class="chatting">
      			<div class="says">
        		<p>よかったー。</p>
  				</div>
    		</div>
  		</div></br>

  		<div class="narraion text-center">
			<p>--- 小論文の採点基準は存在します。作文のように自由に書くのではなく、</br>課題文をちゃんと読めているかが問われます。---</p>
		</div>

		<div class="border mb-3"></div>

	<div class="header text-left">
		<h4>第2話　課題文の読み方</h4>
	</div>

	<div class="mycomment mt-3">
    		<p>それではまず、テキストを用意してもらいます。</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>いつも使ってる塾の問題集でいいの？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>OK。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>他にも学校の教科書や問題集、小論文の過去問、新書など、小説以外ならなんでもいいよ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>いきなり小論文の練習じゃないんだ。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>小論文といっても普段の授業の積み重ねだからね。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>それではまず、いつものように説明文を読んでみよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>はい。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>一通り読んだら、二つの対立概念を取り出してみよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>対立概念？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>大体の説明文では二つの対照的なモノを比較しているんだ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>たとえば日本と海外。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>今と昔。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>都市と田舎。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>きのことたけのこみたいな？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>そんな感じ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>少しレベルが上がると一般論とそれに対する筆者の意見を比較した文章も出てくる。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>その場合一般論は書いてないことも多いから自分で考えよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>はい先生、取り出せました。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>じゃあ次は、それぞれの主張に対する根拠と具体例を取り出してみよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>こんきょ？　ぐたいれい？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>それぞれの主張がなぜそう言えるのか、理由を述べたものが根拠。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>筆者の主張を現実に当てはめてみたものが具体例だよ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>うーん？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>じゃあ、果物の具体例は？</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>りんご？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>そう。それが「具体例」</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>根拠と具体例はどちらかないことも多いので、絶対必要ってわけでもないんだ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>よくわからないよー</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>そんなわんこには初心者コースだ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>トップページに検索ボタンがある。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>これ？</p></div>
    		</div>
  		</div></br>

  		<%= image_tag("howtosearch.jpg") %>

  		<div class="mycomment"><p>そう。今読んでいる文章の著者、出典、問題集の名前をいれて検索してみよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>あー。先輩が同じ文章でまとめてくれた投稿がたくさん出てくる！</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>そう。課題文がうまく読み取れなかったり、まとめられなかったら、先輩の力を借りよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>僕もいつかこういう風にきれいにまとめて後輩を助けるぞー。</p></div>
    		</div>
  		</div>

		<div class="mycomment"><p>よし。その調子だ。次回は要約だよ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>はーい。</p></div>
    		</div>
  		</div>

  		<p class="text-center">＊現在はデータがたまってないので、検索機能は使えません(>_<)</p>
  		<p class="text-center">次回予告！　第３話　要約を書こう　です。</p>
  		<p class="text-center">わんことにゃんこの画像はhttp://frame-illust.com/さんからお借りしました。</p>



  	</div>


</div>