

<div class="container">
  <div class="page-header mt-5">
	   <h2>LogSupport 使い方</h2>
	   <p>小論文のSNS、といってもどうやって使えばいいかピンとこないと思います。そんな人のためにストーリーを作ってみました。</p>
  </div>

  <div class="line-bc col-lg-8">

	 <div class="header">
	 	<h4>第1話　小論文とは？</h4>
	 </div>

		<div class="narraion text-center">
			<p>--- 20xx年、夏。高校受験を控えた中学３年生のわんこは某塾で悩んでいた。 ---</p>
		</div></br>

		<div class="balloon6">
    		<div class="faceicon">
	 			<%= image_tag("wanko.jpg") %>
    		</div>

    		<div class="chatting">
      			<div class="says">
        		<p>うーん。受験どうしよー。</p>
  				</div>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>おはようわんこ。どうしたの？</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon">
	 			<%= image_tag("wanko.jpg") %>
    		</div>
  
    		<div class="chatting">
      			<div class="says">
        		<p>あ、にゃんこセンセー。これ見てよ。</p>
  				</div>
    		</div>
  		</div>

		<div class="mycomment">
    		<p>これはA高校の入試過去問だね。どれどれ</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>問題「次の文章を踏まえて○○についてあなたの意見を６００字以内で述べよ。」</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>小論文形式の入試だね。</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon">
	 			<%= image_tag("wanko.jpg") %>
    		</div>
    		<div class="chatting">
      			<div class="says">
        		<p>そうなんだ。小論文なんて何書けば正解かわからないし、僕作文なんて１００字も書けないよー。</p>
  				</div>
    		</div>
  		</div>

		<div class="mycomment">
    		<p>大丈夫大丈夫。わんこの読解力があれば訓練で書けるようになるよ！</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon">
	 			<%= image_tag("wanko.jpg") %>
    		</div>
    		<div class="chatting">
      			<div class="says">
        		<p>え？ほんと？</p>
  				</div>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>うん。このタイプの小論文だったら型があるから。</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>中学３年生の読解力と思考力があれば誰でも書けるよ。</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="mycomment">
    		<p>そうと決まったら早速特訓だ！</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon">
	 			<%= image_tag("wanko.jpg") %>
    		</div>
    		<div class="chatting">
      			<div class="says">
        		<p>よかったー。</p>
  				</div>
    		</div>
  		</div></br>

  		<div class="narraion text-center">
			<p>--- 小論文の採点基準は存在します。作文のように自由に書くのではなく、課題文をちゃんと読めているかが問われます。
			大学受験の一部ではスポーツや医療など、分野ごとの専門知識が問われますが、それはまた別の話です。---</p>
		</div>

		<div class="border mb-3"></div>

	<div class="header text-left">
		<h4>第2話　課題文の読み方</h4>
	</div>

	<div class="mycomment mt-3">
    		<p>それではまず、テキストを用意してもらいます。</p>
			<div class="comment-icon">
	 			<%= image_tag("nyanko.jpg") %>
    		</div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>いつも使ってる塾の問題集でいいの？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>OK。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>他にも学校の教科書や問題集、小論文の過去問、新書など、小説以外ならなんでもいいよ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>いきなり小論文の練習じゃないんだ。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>小論文といっても普段の授業の積み重ねだからね。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>それではまず、いつものように説明文を読んでみよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>はい。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>一通り読んだら、二つの対立概念を取り出してみよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>対立概念？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>大体の説明文では二つの対照的なモノを比較しているんだ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>たとえば日本と海外。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>今と昔。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>都市と田舎。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>きのことたけのこみたいな？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>そんな感じ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>少しレベルが上がると一般論とそれに対する筆者の意見を比較した文章も出てくる。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>その場合一般論は書いてないことも多いから自分で考えよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>はい先生、取り出せました。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>じゃあ次は、それぞれの主張に対する根拠と具体例を取り出してみよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>こんきょ？　ぐたいれい？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>それぞれの主張がなぜそう言えるのか、理由を述べたものが根拠。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>筆者の主張を現実に当てはめてみたものが具体例だよ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>うーん？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>じゃあ、果物の具体例は？</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>りんご？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>そう。それが「具体例」</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>根拠と具体例はどちらかないこともあるので、絶対必要ってわけでもないんだ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>よくわからないよー。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>そんなわんこには初心者コースだ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>トップページに検索ボタンがある。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>これ？</p></div>
    		</div>
  		</div></br>

  		<%= image_tag("howtosearch.jpg") %>

  		<div class="mycomment"><p>そう。今読んでいる文章の著者、出典、問題集の名前をいれて検索してみよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>あー。先輩が同じテキストを使ってまとめてくれた投稿がたくさん出てくる！</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>課題文がうまく読み取れなかったり、まとめられなかったら、先輩の力を借りよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>僕もいつかこういう風にきれいにまとめて後輩を助けるぞー。</p></div>
    		</div>
  		</div>

		<div class="mycomment"><p>よし。その調子で頑張ろう！</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>はーい。</p></div>
    		</div>
  		</div>

  		<p class="text-center">＊現在はデータがたまってないので、検索機能は使えません(>_<)</p>

		<div class="border mb-3"></div>

	<div class="header text-left">
		<h4>第3話　論理構成を考えよう</h4>
	</div>

		<div class="mycomment mt-3"><p>主張、根拠、具体例の取り出しは慣れてきたかな？</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>うーん。文章が難しい時は先輩の作品を見ればなんとか……。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>最初はそれで大丈夫。真似するところから始めよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>はーい。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>それでは本日は論理構成を考えていきます。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>論理構成って何？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>簡単にいうと文章の設計図かな。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>計画立てずにいきなり文章を書き始めると、最初と最後で結論がごちゃごちゃになったり、</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>言いたいことがなんだったのかわからなくなっちゃうんだ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>そんなものかな？</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>だっていきなり書き始めるといいところで字数が足りなくなったり、</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

      <div class="mycomment"><p>逆に途中で字数が余って「あれ書けばよかった」ってならない？</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>そうかも。だからいつも半分くらいで書くことなくなっちゃうんだ！</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>そうならないように首尾一貫した論理構成を最初に考えて、それぞれ大まかな字数を決めておくんだ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>具体例には５０字使うとか？そんなの書いてみないとわからないよ。</p></div>
        </div>
      </div>

      <div class="mycomment"><p>そこは慣れだよ。書き続けていると感覚つかめてくるよ。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>ふーん。難しそうだけどやってみる！</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>それでは、前回まとめた主張、根拠、具体例のメモを開いてみて。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>はい。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>今回はこの材料を元に、筆者は結局何が言いたいのか、見出しを考えてもらいます。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>例えば、現代社会の問題意識。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>AとBだったらAの方が優れている。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>AとBの違いはここから来る。などなど</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>二つの主張、根拠、具体例を見比べながら、どうつながっているのか考えてみよう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>ふんふん</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>ちなみに、論理構成を先に考えてから根拠や具体例を本文から引っ張ってくるのもありです。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>そこは好みで。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>（……コソコソ）</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>さては検索機能で先輩の記事をカンニングしているな？</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>ギクッ！！</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>頑張ってできなかった場合、最初はそれでいいけれど、徐々に自力でできることが目標だよ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

      <div class="mycomment"><p>加えて、参考にした先輩の記事よりもっと上手く書こうって意識で書くと上達早いよ。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>頑張ります……。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>次はアカウント作って、実際に書いてみましょう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>はーい。</p></div>
    		</div>
  		</div>

  	<div class="border mb-3"></div>

  <div class="header text-left">
		<h4>第4話　要約文を書こう</h4>
	</div>

		<div class="mycomment mt-3"><p>さて、アカウントは取得できたかな？</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>うん。自分のページを作ってみたよ。</p></div>
    		</div>
  		</div>

  		<%= image_tag("wankopage.jpg") %>

  		<div class="mycomment"><p>おお。いいねいいね。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>えっへん。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>それでは、このペンマークのアイコンをクリックして要約文を書こう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>わわっ。いっぱい項目が出てきた。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>自分のメモを見ながら一つ一つ入力していこう。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>文字数選択ってのもあるよ。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>字数制限だね。要約文だったらオススメは２００字かな。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="mycomment"><p>機械が勝手に文字数をカウントして、残り字数を教えてくれるんだ。</p>
			<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>へー。便利ー。</p></div>
    		</div>
  		</div>

  		<div class="mycomment"><p>さあ。自分の論理構成メモを見ながら、文章化してみよう。</p>
			　<div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
  		</div>

  		<div class="balloon6">
    		<div class="faceicon"><%= image_tag("wanko.jpg") %></div>
    		<div class="chatting">
      			<div class="says"><p>はーい。</p></div>
    		</div>
  		</div>

  <div class="border mb-3"></div>

  <div class="header text-left">
		<h4>第5話　意見文を書こう</h4>
	</div>

      <div class="mycomment"><p>作者の意見を理解できたら、それを踏まえて自分の意見を書いてみよう。</p>
        <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>やったー。</p></div>
        </div>
      </div>

      <div class="mycomment"><p>そんなにうれしい？</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>うん。だってようやく自由に考えていいんだよ。</p></div>
        </div>
      </div>

      <div class="mycomment"><p>ブブーッ</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>！？！？</p></div>
        </div>
      </div>

      <div class="mycomment"><p>自分の意見だからといって自由に書いていいわけではありません。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="mycomment"><p>ある程度ルールを守らなくては減点されます。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>そんなー。</p></div>
        </div>
      </div>

      <div class="mycomment"><p>あくまでも「筆者の文章をふまえて」だからね。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>それじゃあ何を書けばいいの？</p></div>
        </div>
      </div>

      <div class="mycomment"><p>まずは筆者の主張に対して立場を決めよう。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="mycomment"><p>とりあえず、筆者の意見に賛成の立場に立って意見を考えるんだ。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>ええ。僕、この筆者の考えあまり好きじゃないんだけど……。</p></div>
        </div>
      </div>

      <div class="mycomment"><p>反対の立場で書くのもありだけど、初心者が挑戦すると大抵読解や論理性で減点されちゃうよ。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>ぶー。</p></div>
        </div>
      </div>

      <div class="mycomment"><p>まあまあ。最初は訓練だからね。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="mycomment"><p>それに自分とは違う立場の意見を考えるってすごく大事なことなんだよ。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>はーい。</p></div>
        </div>
      </div>

      <div class="mycomment"><p>それでは。筆者の主張に乗っ取って、自分で根拠や具体例を考えよう。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="mycomment"><p>筆者の主張が正しいことを自分の実体験や社会現象を踏まえて論証するんだ。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>ふむふむ。</p></div>
        </div>
      </div>

      <div class="mycomment"><p>論理構成が書けたら、筆者の主張に沿っているかどうか、自分の意見には一貫性があるかを誰かに確認してもらおう。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>なんだ。じゃあ筆者の意見を繰り返すだけでいいんだ。</p></div>
        </div>
      </div>

      <div class="mycomment"><p>（……それがけっこう難しいんだけど）</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="mycomment"><p>慣れてきたら、筆者に反論してみたり、筆者が提唱した課題に対する解決案を提案してみてもいいかもね。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="mycomment"><p>その場合は資料を集めて、自分で論理を組み立てるんだよ。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>はい。じゃあ早速図書館に行って調べてくるね。僕論理武装して筆者の意見よりいい論文を書くんだ。</p></div>
        </div>
      </div>

      <p class="text-center">--- そう言うとわんこは図書館へと駆け出して行った。 ---</p>

      <div class="mycomment"><p>……だいじょうぶかなあ。</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

		<p class="text-center">--- 中の人も少し迷っています。意見文では自由度を高めて活発に議論ができる場にもしたいのですが。---</p>

    <div class="border mb-3"></div>

  <div class="header text-left">
    <h4>次回予告　第6話　いいねやコメントをしよう</h4>
  </div>

      <!-- <div class="mycomment"><p>意見文を書く難しさはわかったかな？</p>
      <div class="comment-icon"><%= image_tag("nyanko.jpg") %></div>
      </div>

      <div class="balloon6">
        <div class="faceicon"><%= image_tag("wanko.jpg") %></div>
        <div class="chatting">
            <div class="says"><p>はい……。もう十分。</p></div>
        </div>
      </div> -->








  		<p class="text-center">わんことにゃんこの画像はhttp://frame-illust.com/さんからお借りしました。</p>



  	</div>


</div>