<div class="bg-image">
  <div class="container"></br>
    <h1 class="mb-5">LogSupport</h1>
    <div class="box-size">
          <div class="left-box col-12 col-md-4 col-lg-3 mb-3">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <form class="form-signin">
                <label for="inputEmail" class="sr-only">Email address</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
                <label for="inputPassword" class="sr-only">Password</label>
                <%= f.password_field :password, autocomplete: "off",id:"inputPassword",class:"form-control", placeholder:"パスワード" %>
                <%= f.submit "ログイン",class:"btn btn-success btn-block action" %>
            </form><% end %></br></br>
          </div></br></br></br>
      </div>
  </div>

  <!-- <div class="bg-image">
<div class="container text-center"></br>
    <h1 class="mb-5">LogSupport</h1>
    </br></br></br>
            <h5>読んで書いて感想をもらおう</h5>
            <h5>思想や文化の学び直しに</h5>
            </br></br></br></br>
    <%= link_to blogs_path, class: "text-white col-md-6" do %>
    <div class="btn btn-primary btn-large">トップページへ</div><% end %>
    <%= link_to how_to_index_path, class: "text-white col-md-6" do %>
    <div class="btn btn-success btn-large">使い方はこちら</div><% end %>
    </br></br>
</div> -->



  

