  <div class="bg-image">
    <div class="container box-size">
      <h1 class="mb-5">対話を楽しもう。</h1>
          <div class="left-box col-xs-12 col-sm-4 col-md-3">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <form class="form-signin">
                <label for="inputEmail" class="sr-only">Email address</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
                <label for="inputPassword" class="sr-only">Password</label>
                <%= f.password_field :password, autocomplete: "off",id:"inputPassword",class:"form-control", placeholder:"パスワード" %>
                <%= f.submit "ログイン",class:"btn btn-success btn-block action" %>
            </form><% end %>
          </div>

          <div class="right-box col-xs-12 col-sm-7 col-sm-offset-1 col-md-8 col-md-offset-1">
            <h5>教養をつける。</h5>
            <h5>自分の意見を考える。</h5>
            <h5>誰かに承認をもらう。</h5>
            <h5>国語の勉強って楽しいんです。</h5>
            <h5>LogSupportは先生要らずの無料小論文SNSサイトです。</h5>
            </br>
            <%= link_to how_to_index_path, class: "text-white" do %>
            <div class="btn btn-primary btn-position">使い方はこちら</div>
            <% end %>
          </div>
      </div>
  </div>



  

