<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>LogSupport</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/offcanvas/offcanvas.css" rel="stylesheet">
    <!-- <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet"> -->

  </head>

  <body class="link">
  	<header>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="navbar-brand">
        <%= link_to 'LogSupport',blogs_path,class:"text-white" %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active nav-link">
            <%= link_to 'HOME',blogs_path,class:"text-white" %><span class="sr-only">(current)</span>
          </li>
          <li class="nav-item nav-link">
            <%= link_to 'My Page', user_path(current_user),class:"text-white" %>
          </li>
          <li class="nav-item nav-link disabled">
            <%= link_to 'Group', new_group_path,class:"text-white" %>
          </li>
          <li class="nav-item nav-link disabled">
            <%= link_to "ログアウト", destroy_user_session_path,class:"text-white", :method => :delete %>
          </li>
        </ul>
        <% else %>
                        <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                        <li role="presentation" class="nav-item nav-link">
                        <%= link_to "新規登録", new_user_registration_path,class:"text-white" %>
                        </li>
                        <li role="presentation" class="nav-item nav-link">
                        <%= link_to "ログイン", new_user_session_path,class:"text-white" %>
                        </li>
                        </ul>
        <% end %>
      </div>
    </nav>

  	</header>
  	<content class="link">
  		<div class="container">
        	<%= yield %>
		  </div>
	  </content>
	  <footer>
<!-- 		<div class="footer container relateive">
			<div class="">
				<p>CopyRight InfraTop</p>
			</div>
		</div> -->
	</footer>

<!-- javascript挿入 -->






<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    $(document).foundation();
</script>


<!-- 挿入ここまで -->


  </body>
</html>
