<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="LogSupportは小論文のSNSです。">
    <meta name="author" content="">
    <title>LogSupport</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">


  </head>

  <body class="link">
  	<header>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="navbar-brand">
        <%= link_to 'LogSupport', how_to_show_path,class:"text-white" %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active nav-link">
            <%= link_to 'トップページ',blogs_path,class:"text-white" %><span class="sr-only">(current)</span>
          </li>
          <li class="nav-item nav-link">
            <%= link_to 'My Page', user_path(current_user),class:"text-white" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to 'Group', new_group_path,class:"text-white" %>
          </li>
          <li class="nav-item nav-link ">
            <%= link_to "ログアウト", destroy_user_session_path,class:"text-white", :method => :delete %>
          </li>
        </ul>
        <% else %>
                        <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                          <li class="nav-item nav-link">
                          <%= link_to 'トップページ',blogs_path,class:"text-white" %>
                          </li>
                          <li class="nav-item nav-link">
                          <%#= link_to "新規登録", new_user_registration_path,class:"text-white" %>
                          </li>
                          <li class="nav-item nav-link">
                          <%#= link_to "ログイン", new_user_session_path,class:"text-white" %>
                          </li>
                          <li class="nav-item nav-link">
                          <%#= link_to 'facebookでログイン', user_facebook_omniauth_authorize_path %>
                          </li>
                          <li class="nav-item nav-link">
                          <%= link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path %>
                          </li>
                        </ul>
        <% end %>
      </div>
    </nav>


  	</header>
    <div class="mt-5"></br></br>
        	<%= yield %>
    </div>
	  <footer>
	  </footer>

<!-- javascript挿入 -->



<!-- 挿入ここまで -->


  </body>
</html>
